<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Weixin-java-tool-suite" verbose="1">
  <test name="Result_Test">
    <classes>
      <!--<class name="me.chanjar.weixin.open.bean.result.WxFastMaAccountBasicInfoResultTest"/>
      <class name="me.chanjar.weixin.open.bean.result.WxFastMaCanSetCategoryResultTest"/>
      <class name="me.chanjar.weixin.open.bean.result.WxFastMaBeenSetCategoryResultTest"/>-->
    </classes>
  </test>
  <test name="Util_Test">
    <classes>
      <class name="me.chanjar.weixin.channel.util.JsonUtilsTest"/>
      <class name="me.chanjar.weixin.channel.util.XmlUtilsTest"/>
      <class name="me.chanjar.weixin.channel.util.WxChCryptUtilsTest"/>
      <class name="me.chanjar.weixin.channel.util.ResponseUtilsTest"/>
    </classes>
  </test>
</suite>
