<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Weixin-java-tool-suite" verbose="1">
  <test name="Result_Test">
    <classes>
      <class name="me.chanjar.weixin.channel.api.impl.WxChannelProductManagementServiceImplTest"/>
      <class name="me.chanjar.weixin.channel.api.WxChannelStoreCompatibilityTest"/>
      <!--<class name="me.chanjar.weixin.open.bean.result.WxFastMaAccountBasicInfoResultTest"/>
      <class name="me.chanjar.weixin.open.bean.result.WxFastMaCanSetCategoryResultTest"/>
      <class name="me.chanjar.weixin.open.bean.result.WxFastMaBeenSetCategoryResultTest"/>-->
    </classes>
  </test>
  <test name="Util_Test">
    <classes>
      <class name="me.chanjar.weixin.channel.util.JsonUtilsTest"/>
      <class name="me.chanjar.weixin.channel.util.XmlUtilsTest"/>
      <class name="me.chanjar.weixin.channel.util.WxChCryptUtilsTest"/>
      <class name="me.chanjar.weixin.channel.util.ResponseUtilsTest"/>
      <class name="me.chanjar.weixin.channel.bean.after.AfterSaleContractTest"/>
    </classes>
  </test>
  <test name="Service_Test">
    <classes>
      <class name="me.chanjar.weixin.channel.api.impl.WxChannelServiceImplTest"/>
      <class name="me.chanjar.weixin.channel.api.impl.WxChannelLimitedDiscountServiceImplTest"/>
      <class name="me.chanjar.weixin.channel.api.impl.WxChannelProductStockServiceImplTest"/>
      <class name="me.chanjar.weixin.channel.api.impl.WxChannelProductAssistantServiceImplTest"/>
    </classes>
  </test>
  <test name="Kf_Service_Test">
    <classes>
      <class name="me.chanjar.weixin.channel.bean.kf.WxChannelKfBeanTest"/>
      <class name="me.chanjar.weixin.channel.api.impl.WxChannelKfServiceImplTest"/>
    </classes>
  </test>
</suite>
