<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Weixin-java-tool-suite" verbose="1">
  <test name="Result_Test">
    <classes>
      <class name="me.chanjar.weixin.open.bean.result.WxFastMaAccountBasicInfoResultTest"/>
      <class name="me.chanjar.weixin.open.bean.result.WxFastMaCanSetCategoryResultTest"/>
      <class name="me.chanjar.weixin.open.bean.result.WxFastMaBeenSetCategoryResultTest"/>
    </classes>
  </test>
  <test name="Util_Test">
    <classes>
      <class name="me.chanjar.weixin.open.util.WxOpenCryptUtilTest"/>
      <class name="me.chanjar.weixin.open.util.json.WxOpenGsonBuilderTest"/>
      <class name="me.chanjar.weixin.open.bean.message.WxOpenXmlMessageTest"/>
    </classes>
  </test>
</suite>
