<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Weixin-java-tool-suite" verbose="1">
  <test name="API_Test">
    <classes>
      <class name="me.chanjar.weixin.qidian.api.WxMpBusyRetryTest"/>
      <class name="me.chanjar.weixin.qidian.api.WxMpJsAPITest"/>
    </classes>
  </test>
</suite>
